<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>

<body>
    <div class="AboutText">
        <h1><strong style="color: black">Acerca de Rover:</strong></h1>
        <p><strong style="color: black">Rover</strong> es una aplicación <strong style="color: black">móvil</strong> de
            control remoto que ha sido inspirada en la
            <strong style="color: black">innovación</strong> de Tesla
            Cybertuck.
            Diseñado para brindarte una experiencia única y <strong style="color: black">futurista.</strong>
        </p>
    </div>
    <div class="AboutImg">
        <img src="https://i.postimg.cc/fknfPC7N/rover1.png">
        <img src="https://i.postimg.cc/sgztQ9kq/logo-Rover.png">
        <img src="https://i.postimg.cc/7Y3RkJ5V/rover2.png">
    </div>

</body>

</html>