.home-container {
  display: flex;
  flex-direction: row;
  padding: 0% 5% 5% 5%;
}

#title-one {
  font-size: 4.5vw;
}

#text-one {
  font-size: 2vw;
}
#subtitle {
  font-size: 3.7vw;
}
#text-two {
  font-size: 1.8vw;
}
