<div class="home-container">
  <div class="left-container">
    <h1 id="title-one">Bienvenidos a Rover</h1>
    <span
      ><p id="text-one">
        El Futuro en Control Remoto. Descubre nuestra pasión por la tecnología y
        la diversión.
      </p></span
    >
    <h2 id="subtitle">¡Empieza a explorar!</h2>
  </div>
  <div class="right-container">
    <img width="100%" src="https://i.postimg.cc/BvnG8dqq/image-2.png" alt="Imagen" />
    <span
      ><p id="text-two">
        Explora el mundo de los autos a control remoto con los mejores rovers
        del mercado. Únete a la revolución.
      </p></span
    >
  </div>
</div>
