.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav img {
  height: 100px;
}
.nav-options {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
.nav-options img {
  height: 32px;
}
