<body>
  <header>
    <nav class="nav">
      <!-- Tu menú de navegación aquí, o puedes remplazarlo por algun header, imagen, etc que este fijo al inicio de la pagina.-->
      <app-mobile-nav class="mobile"></app-mobile-nav>
      <app-desktop-nav class="desktop"></app-desktop-nav>
    </nav>
  </header>

  <main class="main">
    <!-- El contenido principal de la aplicación, aqui rutearemos los componentes que se vayan creando -->
    <router-outlet></router-outlet>
  </main>

  <footer>
    <h1></h1>
    <!-- Tu pie de página aquí, utiliza el diseno que se adapte a tu proyecto de appweb -->
  </footer>
</body>