body {
    color: gray;
}

.Proyect {
    display: flex;
    flex-direction: row;
}

.ProyectText {
    font-size: 30px;
    text-align: center;
    padding: 20px;
}

.ProyectText2 {
    font-size: 30px;
    text-align: center;
    padding: 20px;
}