<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyect</title>
</head>

<body>
    <div class="Proyect">
        <img src="">
        <div class="ProyectText">
            <p><strong style="color: black">¡Bienvenidos a nuestro emocionante proyecto escolar!</strong> Somos un grupo
                de apasionados estudiantes de <strong style="color: black">Tecnologías de la Información</strong> y
                hemos creado algo realmente especial: ¡un auto a <strong style="color: black">control remoto
                    construido</strong> y <strong style="color: black">programado</strong> por <strong
                    style="color: black">nosotros</strong> mismos!</p>
        </div>
        <div>
            <img src="">
        </div>
        <div class="ProyectText2">
            <p>En esta <strong style="color: black">página</strong>, te invitamos a explorar los detalles de nuestro
                <strong style="color: black">innovador proyecto</strong>, desde la construcción
                de nuestro <strong style="color: black">vehículo personalizado</strong> hasta la magia de la
                programación que le da vida. Acompáñanos en este
                viaje para descubrir cómo la <strong style="color: black">tecnología</strong> y la <strong
                    style="color: black">creatividad</strong> se unen en nuestro mundo de desarrollo de
                software multiplataforma. <strong style="color: black">¡Vamos a empezar!</strong>
            </p>
        </div>
    </div>
</body>

</html>