<div class="nav">
  <img src="https://i.imgur.com/r9oZtpR.png" alt="logo" />
  <ul class="nav-list">
    <div id="nav-navigation">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/users">Users</a></li>
      <li><a routerLink="/about">About</a></li>
      <li><a routerLink="/proyect">Proyect</a></li>
      <li><a routerLink="/info">Info</a></li>
    </div>
    <div id="nav-options">
      <li><a routerLink="/users">Log Out</a></li>
      <li><a routerLink="/account">Account</a></li>
    </div>
  </ul>
</div>
