<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info</title>
</head>

<body>
    <div class="info">
        <img src="https://i.postimg.cc/3N7gCN38/controles-Rover.png">
        <div class="infotext">
            <h1><strong style="color: black">Rover Innovación en Movimiento.</strong></h1>
            <p>El <strong style="color: black">Rover</strong> se controla de manera intuitiva a través de nuestra
                <strong style="color: black"> aplicación móvil personalizada.</strong>
            </p>
        </div>
    </div>
    <div class="infotext">
        <p><strong style="color: black">Convierte</strong> tu <strong style="color: black">dispositivo</strong> en una
            <strong style="color: black">extensión</strong> de tus habilidades,<strong
                style="color: black">permitiéndote
                explorar</strong> el mundo a través de los
            <strong style="color: black">ojos</strong> y las <strong style="color: black">ruedas</strong> del <strong
                style="color: black">Rover.</strong>
        </p>
    </div>
    <div class="tituloComponentes">
        <h1><strong style="color: black">Componentes Utilizados</strong></h1>
    </div>
    <div class="Componentes">
        <div class="image-container">
            <img src="https://i.postimg.cc/SKKJcMnB/arduino-uno.jpg">
            <p>Arduino Uno</p>
        </div>
        <div class="image-container">
            <img src="https://i.postimg.cc/3xfK5bwq/image-4.png">
            <p>Chasis de Acrílico y Ruedas</p>
        </div>
        <div class="image-container">
            <img src="https://i.postimg.cc/1XBk0fnd/image-5.png">
            <p>Motor de Engranajes</p>
        </div>
        <div class="image-container">
            <img src="https://i.postimg.cc/pLfDszXy/image-7.png">
            <p>Rueda Loca</p>
        </div>
        <div class="image-container">
            <img src="https://i.postimg.cc/xC5wSXfP/image-8.png">
            <p>Puerto H</p>
        </div>
        <div class="image-container">
            <img src="https://i.postimg.cc/vTLLKnGQ/image-9.png">
            <p>Módulo Bluetooth</p>
        </div>
    </div>
    <div class="TituloCircuito">
        <h1><strong style="color: black">Circuito</strong></h1>
    </div>
    <div class="Circuito">
        <img src="https://i.postimg.cc/VLBDnLD1/imagen-1-removebg-preview-1.png">
    </div>

</body>

</html>