.info {
    display: flex;
    flex-direction: row;
}

img {
    width: 85%;
    margin: 20px;

}

body {
    color: gray;
}

.infotext {
    font-size: 30px;
    text-align: center;
    padding: 20px;
}